@page "/action/"
@*@inject IMembershipService Service*@
<h3>Action Genres</h3>


<Menu></Menu>
@*<div class="d-flex flex-column">
    <a href="/directormoviescard/@count" class="btn btn-primary rounded-0 mb-1">
        <i class="oi oi-arrow-left"></i>
        <a class="vertical-align text-white" href="Movies/">Back to Movies</a>
    </a>


    @foreach(var i in MovieGenre)
    {
        if(i.GenreId.Equals(1))
        {
            count.Add(1);
        }
    }

    @foreach(var i in count){
    <div class="card" style="width: 10rem;">
        <img src="/images/Action.jpg" class="card-img-top rounded-0" alt="...">
        <div class="card-body">
            <h5 class="card-title">a</h5>
            <a href="movieplayer/@count" class="btn btn-warning rounded-0">Watch</a>


        </div>
    </div>
    }
</div>*@

@code {
    //[Parameter] public int Id { get; set; }
    //public List<int> count { get; set; }
    //[Parameter] public List<FilmDTO> Movie { get; set; } = new();
    //[Parameter] public List<FilmGenreDTO> MovieGenre { get; set; } = new();
    //[Parameter] public FilmBaseDTO DirectorMovie { get; set; } = new();

    //protected override async Task OnInitializedAsync()
    //{
    //    Movie = await Service.GetFilmAsync(false);
    //}
}
