
<div class="d-flex card text-bg-dark border btn-outline-warning">
    <div class="marquee">
        <img src="/images/spotgoestohollywood.jpg" style="background-image:cross-fade()">
        <div class="card-img-overlay">
            <h1 class="card-title ">FilmStream</h1>
            
    </div>
</div>
</div>

@code {
    
}
