<PageTitle>FilmStream</PageTitle>
<h4>Menu</h4>



<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="Movies/">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="Genres/">Genres</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="Directors/">Directors</a>
    </li>
</ul>


@*<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="Movies/">Movies</a>
    </li>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Genres</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Action/">Action</a></li>
            <li><a class="dropdown-item" href="Adventure/">Adventure</a></li>
            <li><a class="dropdown-item" href="Sci-Fi/">Sci-Fi</a></li>
            <li><a class="dropdown-item" href="Horror/">Horror</a></li>
            <li><a class="dropdown-item" href="Drama/">Drama</a></li>
            <li><a class="dropdown-item" href="Criminal/">Criminal</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="Directors/">Directors</a>
    </li>
</ul>*@


@*<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
        <a class="nav-link"href="Movies/">Movies</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="Directors/">Directors</a>
  </li>
  <li class="nav-item">
        <a class="nav-link" href="Genres/">Genres</a>
  </li>
</ul>*@
@*    <li class="nav-item">
        <a class="nav-link disabled">Genres</a>
    </li>*@


@code {

}
